body {
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
  background: rgba(238,238,240,255);
}

body, h1, h2, h3, h4, h5, h6, p, a, span, div, ul, ol, li {
  margin: 0;
  padding: 0;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 2.7%;
  font-size: 2rem;
  color: #baad9c;
  font-weight: 900;
  gap: 5px;
}

.logoImg {
  height: 1.55rem; 
  margin-right: -8px;
}

.formTitle {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  /* text-align: ba; */
  margin-bottom: 20px;
}

.page{
  display: grid;
  grid-template-rows: 1.8fr 1fr;
  height: 100vh;
}


.leftSide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 2;
}


.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  width: 59%;
}


.input-control {
  display: flex;
  flex-direction: column;
}


.inputs{
  padding: 0.7rem;
  background: rgb(245, 245, 245);
  border: 2px solid #f0f0f0;
  border-radius: 4px;
}

.input-control .inputs:focus {
  outline: 0;
}

.input-control.success .inputs {
  border-color: #09c372;
}

.input-control.error .inputs {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

.css_hidden_input {
  display: none;
  color: red;
  font-size: 12px;
  margin-top: -25px;
}

.css_visible {
  display: block;
}

.sendBtn {
  padding: 0.7rem;
  background: rgb(32, 32, 32);
  color: rgb(226, 226, 226);
  border: none;
}




.rightSide {
  display: flex;
  justify-self: center;
  align-items: end;
  overflow: hidden;
  z-index: 1;
}

.backgroundImg {
  width: 100vw;
}




@media (min-width: 800px) {
  .page{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
  }
  .leftSide {
    height: 100vh;
  }

  .backgroundImg {
    width: 50vw;
  }

}
